.home-container {
    height: 100vh;
    background-image: url('../images/home_bg.jpg'); 
    background-size: cover;
    background-position: center;
    position: relative;
  }
  
/* Prefixing class names for HomePage to prevent style bleed */
.home-page .home-text-box {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    min-height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(210, 180, 140, 0.8); /* Adjusted */
    padding: 20px;
    border-radius: 8px;
    color: #000;
    text-align: center;
    font-size: large;
    font-family: 'Roboto', sans-serif;
}

.home-page .home-text-box h1 {
    font-family: 'DM Serif Display', sans-serif;
}
