/* Navigation Bar */
.navbar {
  background-color: #caf0f8 /* Adjust the background color as needed */
}

.nav-tabs .nav-link {
  padding: 2.5rem 2.5rem; /* Increase padding to make tabs larger */
}

.navbar .logo {
  height: auto; /* Set the height for the logos */
  max-height: 150px; /* Maintain the aspect ratio */
  width: auto; /* Ensure logos do not exceed this width */
}

/* Ensures logos fit well and do not disrupt layout */
.logo {
  max-height: 75px;
  max-width: 75px;
}
