@font-face {
  font-family: 'Futura';
  src: url('./fonts/FuturaStdMedium.otf') format('opentype');
  font-style: normal;
}

@font-face {
  font-family: 'Brightwall';
  src: url('./fonts/Brightwall.ttf') format('truetype');
  font-style: normal;
}

.navbar {
  background-color: #caf0f8; /* Light blue */
  font-family: 'Futura', sans-serif;
}

/* Apply Futura font to all navigation links */
.navbar-nav .nav-link {
  font-family: 'Futura', sans-serif;
  font-size: 1.2rem; /* Adjust size as needed */
}

.navbar .logo {
  max-height: 5vh; /* Adjust based on your preference */
  width: auto; /* Auto width for aspect ratio maintenance */
}

@media (max-width: 768px) {
  .navbar .logo {
    max-height: 35px; /* Smaller logo on mobile */
  }

  .navbar-nav .nav-link {
    padding: 8px 12px; /* Smaller padding on mobile */
  }
}
